<%- include('./template/head') %>
  <link rel="stylesheet" href="css/chat.css">
  </head>

  <body>
    <header>
      <%- include('./template/header') %>
    </header>
    <main>
      <div class="container-fluid p-5 text-white">
        <div class="row justify-content-center bg-primary p-5 rounded rounded-2">
          <div class="col-12">
            <h1 class="text-white text-center">Chat con <%=locals.usuarioChat.nombreUsuario%>
            </h1>
            <div
              class="row p-5 mt-5 bg-info rounded-top border-top border-start border-end border-3 chatBox text-dark fw-bold">
              <% if (locals.mensajes) { %>
                <% mensajes.forEach(mensaje=> { %>
                  <div class="row message <% if (mensaje.id_usuario_mensaje === usuario.id_usuario) { %>
                    justify-content-end
                  <% } %>">
                    <div class="col-6 bg-success p-3 mb-3 rounded border border-2">
                      <div class="row w-auto">
                        <p>
                          <% if (mensaje.id_usuario_mensaje !==usuario.id_usuario) { %>
                            <%=usuarioChat.nombreUsuario%>
                              <% }else{ %>
                                <%=usuario.nombreUsuario%>
                                  <%}%>
                                    - <%=mensaje.fecha%>
                        </p>
                      </div>
                      <div class="row w-auto">
                        <div class="col-12">
                          <p>
                            <%=mensaje.texto%>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                    <% } %>
            </div>
            <div class="row p-3 bg-warning rounded-bottom border border-3 sendMessageBox">
              <form action="/chat/<%=locals.usuarioChat.nombreUsuario%>" method="post">
                <div class="row align-items-center">
                  <div class="col-12 mb-2">
                    <button class="btn btn-primary w-100 bajar">Ir al último mensaje</button>
                  </div>
                  <div class="col-10">
                    <% if (usuarioChat.baneado==="NO" && usuario.baneado==="NO" ) { %>
                      <textarea class="form-control" placeholder="Introduce aquí tu mensaje..." rows="3"
                        name="texto"></textarea>
                      <% }else{ %>
                        <% if (usuario.baneado==="SI" ) { %>
                          <textarea class="form-control fw-bold" disabled rows="3"
                            name="texto">Usted a sido baneado indefinidamente del chat de texto</textarea>
                          <% }else{ %>
                            <textarea class="form-control fw-bold" disabled rows="3"
                              name="texto">Este usuario ha sido baneado indefinidamente del chat de texto</textarea>
                            <%}%>
                              <%}%>
                  </div>
                  <div class="col-2">
                    <button class="btn btn-success float-start w-100" type="submit" <% if (usuarioChat.baneado==="SI" ||
                      usuario.baneado==="SI" ) { %>
                      disabled
                      <% } %>>Enviar mensaje
                    </button>
                  </div>
                </div>
              </form>

              <% if (locals.error) { %>
                <div class="alert alert-dismissible alert-danger mt-3 text-center">
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                  <strong>
                    <%=locals.error%>
                  </strong>
                </div>
                <% } %>
            </div>
          </div>
        </div>
    </main>
    <%- include('./template/footer') %>
      <!-- Bootstrap JavaScript Libraries -->
      <script src="js/bootstrap.min.js"></script>
      <script>
        $(document).ready(function () {
          $(".chatBox").animate({ scrollTop: 99999 }, 100);
          $(".bajar").click(function (e) {
            e.preventDefault();
            $(".chatBox").animate({ scrollTop: 99999 }, 100);
          });
        });
      </script>
  </body>

  </html>