<%- include('./template/head') %>
  </head>

  <body>
    <header>
      <%- include('./template/header') %>
    </header>
    <main>
      <div class="container-fluid p-5">
        <div class="row justify-content-center bg-primary p-5 rounded rounded-2">
          <% if (locals.error) { %>
            <p>
              <%=locals.error%>
            </p>
            <% } %>
              <div class="col-12 text-center">
                <h1 class="text-white">
                  <%=usuarioGestionar.nombreUsuario%>
                </h1>
                <img class="img-fluid" src="images/users_icon.png" alt="Friend Icon" width="80px">

                <div class="row mt-5">
                  <h1 class="text-white">Historial de mensajes del usuario</h1>
                  <table class="table table-hover border border-3 border-info bg-info mt-3">
                    <thead>
                      <tr class="text-black">
                        <th scope="col">Fecha</th>
                        <th scope="col">Mensaje</th>
                        <th scope="col">Destinatario</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% var i=0; %>
                        <% mensajesUsuario.forEach(mensaje=> { %>
                          <tr class="table-light border border-2 border-info">
                            <th scope="row">
                              <%=mensaje.fecha%>
                            </th>
                            <td>
                              <%=mensaje.texto%>
                            </td>
                            <td>
                              <%=nombreDestinatario[i]%>
                            </td>
                          </tr>
                          <% i+=1 %>
                            <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-12 text-center">
                <% if (usuarioGestionar.baneado !=="SI" ) { %>
                  <button class="btn btn-warning p-3 text-dark fw-bold me-3 banButton"
                    data-id="<%=usuarioGestionar.id_usuario%>">Banear chat de texto</button>
                  <% }else{ %>
                    <button class="btn btn-info p-3 text-dark fw-bold me-3 unbanButton"
                      data-id="<%=usuarioGestionar.id_usuario%>">Habilitar chat de texto</button>
                    <%}%>
                      <button class="btn btn-danger p-3 text-dark fw-bold ms-3 deleteUserButton"
                        data-id="<%=usuarioGestionar.id_usuario%>">Eliminar
                        usuario</button>
              </div>
        </div>
    </main>
    <%- include('./template/footer') %>
      <!-- Bootstrap JavaScript Libraries -->
      <script src="js/bootstrap.min.js"></script>
      <script>
        $(".banButton").click(function (e) {
          e.preventDefault();
          const idUsuario = $(this).data("id");
          fetch(`/gestionUsuarios/banUser/${idUsuario}`, { method: "PUT" })
            .then((res) => {
              window.location.reload();
            })
            .catch((error) => {
              console.log(error);
            });
        });
        $(".unbanButton").click(function (e) {
          e.preventDefault();
          const idUsuario = $(this).data("id");
          fetch(`/gestionUsuarios/unbanUser/${idUsuario}`, { method: "PUT" })
            .then((res) => {
              window.location.reload();
            })
            .catch((error) => {
              console.log(error);
            });
        });
      </script>
  </body>

  </html>