<%- include('./template/head') %>
  </head>

  <body>
    <header>
      <%- include('./template/header') %>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row justify-content-center bg-primary m-5 p-5">
          <div class="col-12 text-center">
            <h1 class="text-white">Gestion de usuarios</h1>
            <p class="text-white pt-3 fw-bold">Haga click sobre un usuario para gestionarlo</p>
            <table class="table table-hover border border-3 border-dark bg-secondary mt-5">
              <thead>
                <tr class="text-white">
                  <th scope="col">Id</th>
                  <th scope="col">Nombre usuario</th>
                  <th scope="col">Correo electrónico</th>
                  <th scope="col">Contraseña</th>
                  <th scope="col">Rol</th>
                </tr>
              </thead>
              <tbody>
                <% usuarios.forEach(usuario=> { %>
                  <tr class="table-light border border-2 border-dark">
                    <th scope="row">
                      <%=usuario.id_usuario%>
                    </th>
                    <td>
                      <%=usuario.nombreUsuario%>
                    </td>
                    <td>
                      <%=usuario.correo%>
                    </td>
                    <td>
                      <%=usuario.password%>
                    </td>
                    <td>
                      <%=usuario.rol%>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>
        </div>
    </main>
    <%- include('./template/footer') %>
      <!-- Bootstrap JavaScript Libraries -->
      <script src="js/bootstrap.min.js"></script>
  </body>

  </html>