<%- include('./template/head') %>
  <link rel="stylesheet" href="css/index.css">
  </head>

  <body>
    <header>
      <%- include('./template/header') %>
    </header>
    <main>
      <div class="container-fluid pb-5">
        <div class="row">
          <div class="col-12 bg-primary pt-5 ps-5 mt-5 rounded">
            <h1 class="text-white float-start">Inicio</h1>
            <form action="/" method="GET">
              <div id="searchBar" class="col-12 form-outline p-5 d-flex justify-content-center">
                <input id="searchField" type="text" class="form-control float-start"
                  placeholder="Buscar juego..." name="titulo" value="<%=locals.nombreUsuario%>" />
                <button type="submit" id="searchButton" class="btn btn-secondary">
                  Ejecutar búsqueda<img class="img-fluid ms-2" src="images/search_icon.png"
                    alt="Magnifying glass for search icon" width="20px"></button>
              </div>
            </form>
            <div class="row gap-4 justify-content-center mt-5">
              <% juegos.forEach(juego=> { %>
                <div class="col-2 mt-2 p-2 pt-3 bg-info rounded border border-3 border-light caratulaJuego text-center" data-id="<%=juego.id_juego%>">
                  <img class="img-fluid text-center rounded" src="<%=juego.imagen%>" alt="Default Avatar Image"
                    width="200px">
                  <h3 class="text-white text-center pt-2">
                    <%=juego.titulo%>
                  </h3>
                  <p class="text-white text-center">
                    <%=juego.genero%>
                  </p>
                  <p class="text-white text-center">
                    <%=juego.publisher%>
                  </p>
                  <% if (juego.enlace !=="" ) { %>
                    <a href="<%=juego.enlace%>" class="btn btn-info border border-2 text-white text-center"
                      target="_blank">Ver en Steam <img src="images/steam-icon.png" alt="Steam icon" width="30px"></a>
                    <% } %>
                </div>
                <% }) %>
            </div>
            <div class="row mt-5">
              <div class="col-12 pb-2 paginado">
                <% if(locals.pagActual+1!==locals.numPaginas) { %>
                  <a href="/nextpage" class="btn btn-secondary float-end text-white text-decoration-none">Siguiente</a>
                  <% } %>
                    <% if (locals.pagActual!==0) { %>
                      <a href="/prevpage"
                        class="btn btn-secondary float-end text-white me-2 text-decoration-none">Anterior</a>
                      <% }%>
                        <p class="text-white float-start pe-3">Página <%=locals.pagActual+1%> de <%=locals.numPaginas%>
                              (
                              <%=locals.numResultados%> resultados)</p>
                        <a href="/" class="btn btn-warning float-start text-black text-decoration-none ms-2">Ir al
                          principio</a>
                        <a href="/toend" class="btn btn-warning float-start text-black text-decoration-none ms-2">Ir al
                          final</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./template/footer') %>
      <!-- Bootstrap JavaScript Libraries -->
      <script src="js/bootstrap.min.js"></script>
      <script>
        $(".caratulaJuego").click(function (e) { 
          e.preventDefault();
          const idJuego = $(this).data("id");
          window.location.href = `/juego/${idJuego}`;
        });
      </script>
  </body>

  </html>