<%- include('./template/head') %>
  </head>

  <body>
    <header>
      <%- include('./template/header') %>
    </header>
    <main>
      <div class="container-fluid p-5">
        <div class="row justify-content-center bg-primary p-5 border border-4 border-info rounded">
          <div class="col-2 text-center">
            <h1 class="text-white mb-4 text-center">
              <%=locals.usuarioPerfil.nombreUsuario%>
            </h1>
            <img class="rounded-circle dropdown-toggle" src="images/default_avatar.png" alt="Avatar Image"
              width="200px">
            <% if (!estadoAmistad) { %>
              <form action="/gestionUsuarios/addFriend" method="post">
                <button class="btn btn-secondary mt-4 border border-2 rounded" type="submit">Solicitar amistad</button>
                <% if (locals.usuario) { %>
                  <input type="hidden" name="usuarioId" value=<%=usuario.id_usuario%>>
                  <input type="hidden" name="usuarioPerfilId" value=<%=usuarioPerfil.id_usuario%>>
                  <input type="hidden" name="usuarioPerfilNombre" value=<%=usuarioPerfil.nombreUsuario%>>
                  <% } %>
              </form>
              <% } else if (estadoAmistad) {%>
                <% if (estadoAmistad.estado==="pendiente" ) { %>
                  <button class="btn btn-warning mt-4 border border-2 rounded">Pendiente</button>
                  <% }else{ %>
                    <button class="btn btn-success mt-4 border border-2 rounded">Amigo</button>
                    <% }%>
                      <%}%>
          </div>
          <div class="col-3 text-white text-center">
            <h3 class="text-white mb-4">Descripción</h1>
              <p>Nada que mostrar aquí...</p>
          </div>
          <div class="col-3 text-white text-center">
            <h3 class="text-white mb-4">Información</h3>
            <p>Seguidores: 0</p>
            <p>Juegos jugados: 0</p>
            <p>Juegos completados: 0</p>
          </div>
          <div class="col-4 text-white text-center">
            <h3 class="text-white mb-4">Plataformas</h3>
            <p>ps5, xbox...</p>
          </div>
        </div>
    </main>
    <%- include('./template/footer') %>
      <!-- Bootstrap JavaScript Libraries -->
      <script src="js/bootstrap.min.js"></script>
  </body>

  </html>