<%- include('./template/head') %>
  </head>

  <body>
    <header>
      <%- include('./template/header') %>
    </header>
    <main>
      <div class="container-fluid p-5">
        <div class="row justify-content-center bg-primary p-5 border border-4 border-info rounded">
          <div class="col-2 text-center">
            <h1 class="text-white mb-4 text-center">
              <%=locals.usuario.nombreUsuario%>
            </h1>
            <img class="rounded-circle dropdown-toggle" src="images/default_avatar.png" alt="Avatar Image"
              width="200px">
          </div>
          <div class="col-3 text-white text-center">
            <h3 class="text-white mb-4">Descripción</h1>
              <p><%=locals.usuario.descripcion%></p>
          </div>
          <div class="col-3 text-white text-center">
            <h3 class="text-white mb-4">Información</h3>
            <p>Seguidores: <%=locals.numSeguidores%></p>
            <p>Juegos jugados: 0</p>
            <p>Juegos completados: 0</p>
          </div>
          <div class="col-4 text-white text-center">
            <h3 class="text-white mb-4">Plataformas</h3>
            <p>ps5, xbox...</p>
          </div>
        </div>
    </main>
    <%- include('./template/footer') %>
      <!-- Bootstrap JavaScript Libraries -->
      <script src="js/bootstrap.min.js"></script>
  </body>

  </html>