<%- include('./template/head') %>
  <link rel="stylesheet" href="css/profile.css">
  </head>

  <body>
    <header>
      <%- include('./template/header') %>
    </header>
    <main>
      <div class="container-fluid p-5">
        <div class="row justify-content-center bg-primary p-5 border border-4 border-info rounded">
          <div class="col-2 text-center">
            <h1 class="text-white mb-4 text-center">
              <%=locals.usuarioPerfil.nombreUsuario%>
            </h1>
            <img class="rounded-circle dropdown-toggle" src="images/default_avatar.png" alt="Avatar Image"
              width="200px">
            <% if (!estadoAmistad) { %>
              <form action="/gestionUsuarios/addFriend" method="post">
                <button class="btn btn-secondary mt-4 border border-2 rounded" type="submit">Solicitar amistad</button>
                <% if (locals.usuario) { %>
                  <input type="hidden" name="usuarioId" value=<%=usuario.id_usuario%>>
                  <input type="hidden" name="usuarioPerfilId" value=<%=usuarioPerfil.id_usuario%>>
                  <input type="hidden" name="usuarioPerfilNombre" value=<%=usuarioPerfil.nombreUsuario%>>
                  <% } %>
              </form>
              <% } else if (estadoAmistad) {%>
                <% if (estadoAmistad.estado==="pendiente" ) { %>
                  <button class="btn btn-warning mt-4 border border-2 rounded">Pendiente</button>
                  <% }else{ %>
                    <div class="row mt-3">
                      <a class="btn btn-warning text-black rounded border border-2"
                        href="/chat/<%=usuarioPerfil.nombreUsuario%>">Enviar mensaje</a>
                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success mt-4 border border-2 rounded mpAmigo"
                      data-bs-toggle="modal" data-bs-target="#mpAmigo">Amigo</button>
                    <!-- Modal -->
                    <div class="modal fade" id="mpAmigo" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">¿Estás seguro que quieres dejar de ser amigo de
                              <%=usuarioPerfil.nombreUsuario%>?
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body text-center">
                            <div class="d-grid gap-2">
                              <button type="button" class="btn btn-danger p-3 rejectFriend"
                                data-id="<%=usuarioPerfil.id_usuario%>">Si</button>
                              <button type="button" class="btn btn-primary p-3" data-bs-dismiss="modal">No</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% }%>
                      <%}%>
          </div>
          <div class="col-3 text-white text-center">
            <h3 class="text-white mb-4">Descripción</h1>
              <p>
                <%=usuarioPerfil.descripcion%>
              </p>
          </div>
          <div class="col-3 text-white text-center">
            <h3 class="text-white mb-4">Información</h3>
            <p>Seguidores: <%=locals.numSeguidores%>
            </p>
            <p>Juegos completados: <%=locals.numCompletados%>
            </p>
            <p>Jugando actualmente: <%=locals.numJugando%>
            </p>
            <p>Juegos pendientes: <%=locals.numPendientes%>
            </p>
          </div>
          <div class="col-4 text-white text-center">
            <h3 class="text-white mb-4">Plataformas</h3>
            <p>ps5, xbox...</p>
          </div>
        </div>

        <div class="container-fluid p-5">
          <div class="row justify-content-center bg-primary p-5 border border-4 border-info rounded">
            <div class="col-12 text-center">
              <h1 class="text-white mb-4 text-center">
                Lista de juegos de <%=locals.usuarioPerfil.nombreUsuario%>
              </h1>
            </div>
            <div class="col-12 mb-5 mt-5">
              <h1 class="text-white">Completados<h1>
                  <% if (locals.completados[0] !==undefined) { %>
                    <% completados.forEach(juegoCompletado=> { %>
                      <div class="row mt-3">
                        <div
                          class="col-3 mt-2 p-2 pt-3 bg-info rounded border caratulaJuego border-3 border-light text-center"
                          data-id="<%=juegoCompletado.id_juego%>">
                          <img class="img-fluid text-center float-start" src="<%=juegoCompletado.imagen%>"
                            alt="Game Image" width="100px">
                          <h4 class="text-white text-center pt-2">
                            <%=juegoCompletado.titulo%>
                          </h4>
                          <h4 class="text-white text-center">
                            Calificación de <%=locals.usuarioPerfil.nombreUsuario%>
                          </h4>
                          <h4 class="text-white text-center">
                            <%=juegoCompletado.calificacion%>★
                          </h4>
                        </div>
                        <div class="col-8 ms-1 p-2 pt-3 bg-light rounded border border-3 border-light">
                          <h4>Opinión</h4>
                          <h6>
                            <%=juegoCompletado.opinion%>
                          </h6>
                        </div>
                      </div>
                      <% }) %>
                        <% } %>
            </div>
            <div class="col-12 mt-5 mb-5">
              <h1 class="text-white">Jugando<h1>
                  <% if (locals.jugando[0] !==undefined) { %>
                    <% jugando.forEach(juegoJugando=> { %>
                      <div class="row mt-3">
                        <div
                          class="col-3 mt-2 p-2 pt-3 bg-info rounded border caratulaJuego border-3 border-light text-center"
                          data-id="<%=juegoJugando.id_juego%>">
                          <img class="img-fluid text-center float-start" src="<%=juegoJugando.imagen%>" alt="Game Image"
                            width="100px">
                          <h4 class="text-white text-center pt-2">
                            <%=juegoJugando.titulo%>
                          </h4>
                          <% if (juegoJugando.calificacion!==0) { %>
                            <h4 class="text-white text-center">
                              Calificación de <%=locals.usuarioPerfil.nombreUsuario%>
                            </h4>
                            <h4 class="text-white text-center">
                              <%=juegoJugando.calificacion%>★
                            </h4>
                            <% } %>
                        </div>
                      </div>
                      <% }) %>
                        <% } %>
            </div>
            <div class="col-12 mt-5 mb-5">
              <h1 class="text-white">Pendientes<h1>
                  <% if (locals.pendientes[0] !==undefined) { %>
                    <% pendientes.forEach(juegoPendiente=> { %>
                      <div class="row mt-3">
                        <div
                          class="col-3 mt-2 p-2 pt-3 bg-info rounded border caratulaJuego border-3 border-light text-center"
                          data-id="<%=juegoPendiente.id_juego%>">
                          <img class="img-fluid text-center float-start" src="<%=juegoPendiente.imagen%>"
                            alt="Game Image" width="100px">
                          <h4 class="text-white text-center pt-2">
                            <%=juegoPendiente.titulo%>
                          </h4>
                        </div>
                      </div>
                      <% }) %>
                        <% } %>
            </div>
          </div>
        </div>
    </main>
    <%- include('./template/footer') %>
      <!-- Bootstrap JavaScript Libraries -->
      <script src="js/bootstrap.min.js"></script>
      <script>
        $(".mpAmigo").hover(function () {
          // over
          $(this).css("background-color", "#ff7851");
          $(this).text("Eliminar");
        }, function () {
          // out
          $(this).css("background-color", "#56cc9d");
          $(this).text("Amigo");
        }
        );
        $(".caratulaJuego").click(function (e) {
          e.preventDefault();
          const idJuego = $(this).data("id");
          window.open(
            `/juego/${idJuego}`,
            '_blank'
          );
        });
      </script>
  </body>

  </html>