<%- include('./template/head') %>
    <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <main class="mb-5">
            <div class="container bg-primary text-white border border-3 rounded rounded-4 border-primary">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <form action="/register" method="POST">
                            <fieldset>
                                <legend class="text-center display-6">Registro de usuario</legend>
                                <p class="text-center pt-3 fw-bold fst-italic"><span class="text-danger">*</span>: Campo obligatorio</p>
                                <div class="form-group">
                                    <label for="usuario" class="form-label mt-4">Nombre de usuario<span class="text-danger fw-bold"> *</span></label>
                                    <input type="text" class="form-control" id="usuario"
                                        placeholder="Introduce un nombre de usuario" name="usuario" <% if (locals.usuario) { %>
                                    value="<%=locals.usuario%>"
                                        <% } %>>
                                </div>
                                <div class="form-group">
                                    <label for="correo" class="form-label mt-4">Correo electrónico<span class="text-danger fw-bold"> *</span></label>
                                    <input type="text" class="form-control" id="correo"
                                        placeholder="Introduce una dirección de correo electrónico" name="correo" <% if (locals.correo) { %>
                                    value="<%=locals.correo%>"
                                        <% } %>>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="form-label mt-4">Establece una contraseña<span class="text-danger fw-bold"> *</span></label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Introduce una contraseña para tu nueva cuenta" name="password" <% if (locals.password) {
                                        %>
                                    value="<%=locals.password%>"
                                        <% } %>>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="form-label mt-4">Confirmar contraseña<span class="text-danger fw-bold"> *</span></label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Vuelve a introducir la contraseña" name="passwordConfirm" <% if (locals.password) {
                                        %>
                                    value="<%=locals.password%>"
                                        <% } %>>
                                </div>

                                <div class="row mt-5">
                                    <button type="submit" class="btn btn-secondary">Completar registro</button>
                                </div>

                                <% if (locals.error) { %>
                                    <div class="alert alert-dismissible alert-danger mt-5 text-center">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                        <strong>
                                            <%=locals.error%>
                                        </strong>
                                    </div>
                                    <% } %>

                                        <div class="col-12 mt-5 d-flex gap-2 justify-content-center botoneraInferior">
                                            <a href="/login" class="btn btn-dark">Iniciar Sesión</a>
                                            <a href="/" class="btn btn-dark">Volver</a>
                                        </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer>
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script src="js/bootstrap.min.js"></script>
    </body>

    </html>