<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <img class="img-fluid" src="images/logo.png" alt="YourGamingDB Image Logo" width="60px">
        <a class="navbar-brand" href="/">YourGamingDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link <%=locals.inicioActivo%>" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/explorarUsuarios">Explorar usuarios</a>
                </li>
            </ul>
            <form class="d-flex gap-2">
                <% if (!locals.usuario) { %>
                    <a class="btn btn-secondary" href="/login">Iniciar Sesión</a>
                    <a class="btn btn-light" href="/register">Regístrate</a>
                    <% }else{ %>
                        <% if (locals.usuario.rol=="administrador" ) { %>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary border border-2" data-bs-toggle="modal"
                                data-bs-target="#mpAdmin">
                                <img class="img-fluid float-start pe-2 pt-2" src="images/tool_icon.png" alt="Tools icon"
                                    width="50px">
                                <p class="float-start pe-3 pt-3">Herramientas Perfil Administrador
                                </p>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="mpAdmin" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Herramientas administrador</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <div class="d-grid gap-2 pb-2">
                                                <a class="btn btn-primary" href="/gestionUsuarios"
                                                    role="button">Gestionar Usuarios</a>
                                            </div>
                                            <div class="d-grid gap-2">
                                                <a class="btn btn-primary" href="" role="button">Gestionar Juegos</a>
                                            </div>
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }else{ %>
                                <!-- Button trigger modal -->
                                <div class="bandejaNotificaciones" data-bs-toggle="modal"
                                    data-bs-target="#mpNotificaciones">
                                    <% if (locals.usuarioSolicitud !==undefined && locals.usuarioSolicitud.length !==0)
                                        { %>
                                        <span class="badge rounded-pill badge-notification bg-danger numeroNoti">
                                            <%=locals.usuarioSolicitud.length%>
                                        </span>
                                        <% } %>
                                            <img class="rounded-circle dropdown-toggle mt-2 me-2"
                                                src="images/notification_icon.png" alt="Default Avatar Image"
                                                width="35px">
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="mpNotificaciones" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Bandeja de notificaciones</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <% if (locals.usuarioSolicitud !==undefined) { %>
                                                    <% usuarioSolicitud.forEach(usuario=> { %>
                                                        <div class="d-grid gap-2 pt-3 bg-info rounded mb-3">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <p class="text-white">¡<a class="text-white"
                                                                            href="/profile/<%=usuario.nombreUsuario%>">
                                                                            <%=usuario.nombreUsuario%>
                                                                        </a> te ha enviado solicitud de amistad!</p>
                                                                </div>
                                                            </div>
                                                            <div class="row pb-2">
                                                                <div class="col-12">
                                                                    <button class="btn btn-success acceptFriend"
                                                                        data-id="<%=usuario.id_usuario%>">Aceptar</button>
                                                                    <button class="btn btn-danger rejectFriend"
                                                                        data-id="<%=usuario.id_usuario%>">Rechazar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }) %>
                                                            <% } %>
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/profile">
                                    <p class="float-start pe-3 pt-3 text-white">Bienvenido,
                                        <%=locals.usuario.nombreUsuario%>
                                    </p>
                                </a>
                                <%}%>
                                    <div class="dropstart">
                                        <img class="rounded-circle dropdown-toggle" src="images/default_avatar.png"
                                            alt="Default Avatar Image" width="60px" id="dropdownMenuButton1"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        <ul class="dropdown-menu mt-5" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="/profile">Perfil</a></li>
                                            <li><a class="dropdown-item" href="#">Configuración</a></li>
                                            <li><a class="dropdown-item bg-danger" href="/logout">Cerrar Sesión</a></li>
                                        </ul>
                                    </div>
                                    <% } %>
            </form>
        </div>
    </div>
</nav>